html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1.5;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
@font-face {
    font-family: 'GenEi Antique v4';
    src: url('https://username.github.io/repo-name/fonts/GenEiAntiqueV4-Regular.woff2') format('woff2'),
        url('https://username.github.io/repo-name/fonts/GenEiAntiqueV4-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'GenEi Antique v4', serif;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    height: 2000px;
}
.images{
    width: 100%;
    height: auto;
    background-attachment: fixed;
    position: relative;
}
.image{
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
img{
    width: 100%;
    height: 100%;
}
.relative{
    position: relative;
}
.absolute ,.text01-absolute{
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.image-absolute,.add-image01,.add-image02,.add-image03{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.image-01{
    width: 78%;
    position: absolute;
    top: 18.2%;
    left: 0;
    right: 0;
    margin: auto;
}
.text01 {
    width: 70%;
    position: absolute;
    top: 33.5%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.image-02{
    width: 100%;
    position: absolute;
    top: 35.2%;
    left: 0;
    right: 0;
    margin: auto;
}
.text02 {
    width: 40%;
    position: absolute;
    top: 60.8%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.text03 {
    width: 100%;
    position: absolute;
    top: 62.4%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.image-03{
    width: 100%;
    position: absolute;
    top: 64.2%;
    left: 0;
    right: 0;
    margin: auto;
}
.image-04{
    width: 100%;
    position: absolute;
    top: 64.2%;
    left: 0;
    right: 0;
    margin: auto;
}
.text04 {
    width: 80%;
    position: absolute;
    top: 88.3%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.text05 {
    width: 84%;
    position: absolute;
    top: 3.35%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.image-05{
    width: 100%;
    position: absolute;
    top: 7.35%;
    left: 0;
    right: 0;
    margin: auto;
}
.image-06{
    width: 100%;
    position: absolute;
    top: 7.35%;
    left: 0;
    right: 0;
    margin: auto;
}
.image-07{
    width: 100%;
    position: absolute;
    top: 7.35%;
    left: 0;
    right: 0;
    margin: auto;
}
.text06 {
    width: 45%;
    position: absolute;
    top: 10.9%;
    left: 0;
    right: 28%;
    margin: auto;
    text-align: center;
}
.image-08{
    width: 100%;
    position: absolute;
    top: 7.35%;
    left: 0;
    right: 0;
    margin: auto;
}
.image-09{
    width: 100%;
    position: absolute;
    top: 46.66%;
    left: 0;
    right: 0;
    margin: auto;
}
.image-10{
    width: 100%;
    position: absolute;
    top: 46.66%;
    left: 0;
    right: 0;
    margin: auto;
}
.text08 {
    width: 90%;
    position: absolute;
    top: 58%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.text09 {
    width: 50%;
    position: absolute;
    top: 77.9%;
    left: 28%;
    right: 0;
    margin: auto;
    text-align: center;
}
.text01-absolute{
    position: absolute;
    bottom: 16.8%;
    left: 0;
    right: 0;
    width: 42%;
    height: auto;
}
.text10 {
    width: 73%;
    position: absolute;
    top: 2.578%;
    left: 18.6%;
    right: 0;
    text-align: center;
}
.text67 {
    width: 28%;
    position: absolute;
    top: 22%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.image-11{
    width: 95%;
    position: absolute;
    top: 27.4%;
    right: 5%;
}
.text11 {
    width: 70%;
    position: absolute;
    top: 35.2%;
    left:8%;
    right: 0;
    text-align: center;
}
.text12 {
    width: 50%;
    position: absolute;
    top: 45%;
    left: 40%;
    right: 0;
    text-align: center;
}
.text13 {
    width: 50%;
    position: absolute;
    top: 51.3%;
    left: 8%;
    right: 0;
    text-align: center;
}
.text131 {
    width: 27%;
    position: absolute;
    top: 53.8%;
    right: 15%;
    text-align: center;
}
.text14 {
    width: 51%;
    position: absolute;
    top: 57.1%;
    left: 14%;
    right: 0;
    text-align: center;
}
.text15 {
    width: 55%;
    position: absolute;
    top: 72.5%;
    left: 0;
    right:0 ;
    margin: auto;
    text-align: center;
}
.text16 {
    width: 22%;
    position: absolute;
    top: 79.1%;
    left: 11%;
    right:0 ;
    text-align: center;
}
.text17 {
    width: 66%;
    position: absolute;
    top: 86.2%;
    left: 17%;
    right:0;
    text-align: center;
}
.text18 {
    width: 70%;
    position: absolute;
    top: 11.1%;
    left: 19%;
    right:0;
    text-align: center;
}
.text19 {
    width: 74%;
    position: absolute;
    top: 30.2%;
    left: 0;
    right:0;
    margin: auto;
    text-align: center;
}
.text68 {
    width: 10%;
    position: absolute;
    top: 35.1%;
    left: 20%;
    right: 0;
    text-align: center;
}
.big-font{
    font-size: 1.5em;
}
.text20 {
    width: 58%;
    position: absolute;
    top: 55.6%;
    left: 11%;
    right:0;
    text-align: center;
}
.text21 {
    width: 95%;
    position: absolute;
    top: 67.7%;
    left: 0;
    right:0;
    margin: auto;
    text-align: center;
}
.text22 {
    width: 95%;
    position: absolute;
    top: 95.5%;
    left: 0;
    right:0;
    margin: auto;
    text-align: center;
}
.text23 {
    width: 95%;
    position: absolute;
    top: 1%;
    left: 4%;
    right:0;
    margin: auto;
    text-align: center;
}
.image-12{
    width: 80%;
    position: absolute;
    top: 6.8%;
    right:0;
    left: 0;
    margin: auto;
}
.image-12-5{
    width: 80%;
    position: absolute;
    top: 6.8%;
    right:0;
    left: 0;
    margin: auto;
}
.text24 {
    width: 60%;
    position: absolute;
    top:17.1%;
    left: 30%;
    right:0;
    text-align: center;
}
.text25 {
    width: 100%;
    position: absolute;
    top:32.5%;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
}
.text26 {
    width: 93%;
    position: absolute;
    top:45%;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
}
.text27 {
    width: 30%;
    position: absolute;
    top:57%;
    left:57%;
    right:0;
    text-align: center;
}
.text07 {
    width: 25%;
    position: absolute;
    top: 72.2%;
    left: 40%;
    right: 0;
    text-align: center;
}
.text28 {
    width: 73%;
    position: absolute;
    top:72.8%;
    left:11%;
    right:0;
    text-align: center;
}
.text29 {
    width: 78%;
    position: absolute;
    top:81.2%;
    left:13%;
    right:0;
    text-align: center;
}
.text69 {
    width: 12%;
    position: absolute;
    top:90.2%;
    left:9%;
    right:0;
    text-align: center;
}
.text70 {
    width: 11%;
    position: absolute;
    top:90.75%;
    right:14%;
    text-align: center;
}
.text30 {
    width: 75%;
    position: absolute;
    top:96.4%;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
}
.text31 {
    width: 50%;
    position: absolute;
    top:0.8%;
    left:32%;
    right:0;
    text-align: center;
}
.text32 {
    width: 72%;
    position: absolute;
    top:13.4%;
    left:15%;
    right:0;
    text-align: center;
}
.text33 {
    width: 20%;
    position: absolute;
    top:29.85%;
    left:60%;
    right:0;
    text-align: center;
}
.text34 {
    width: 40%;
    position: absolute;
    top:48.4%;
    left:6%;
    right:0;
    text-align: center;
}
.text35 {
    width: 50%;
    position: absolute;
    top:49.7%;
    left:43%;
    right:0;
    text-align: center;
}
.text36 {
    width: 60%;
    position: absolute;
    top:55.2%;
    left:25%;
    right:0;
    text-align: center;
}
.text37 {
    width: 20%;
    position: absolute;
    top:65.35%;
    left:65%;
    right:0;
    text-align: center;
}
.image-13{
    width: 90%;
    position: absolute;
    top: 79.5%;
    right:0;
    left: 0;
    margin: auto;
}
.image-14{
    width: 88%;
    position: absolute;
    top: 2.2%;
    right:0;
    left: 0;
    margin: auto;
}
.image-15{
    width: 92%;
    position: absolute;
    top: 20.2%;
    right:0;
    left: 0;
    margin: auto;
}
.text38 {
    width: 40%;
    position: absolute;
    top:33.8%;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
}
.text39 {
    width: 55%;
    position: absolute;
    top:71.2%;
    left:30%;
    right:0;
    text-align: center;
}
.text40 {
    width: 50%;
    position: absolute;
    top:76.5%;
    left:8%;
    right:0;
    text-align: center;
}
.text41 {
    width: 70%;
    position: absolute;
    top:80.6%;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
}
.text42 {
    width: 20%;
    position: absolute;
    top:96.1%;
    left:10%;
    right:0;
    text-align: center;
}
.text43 {
    width: 90%;
    position: absolute;
    top:11.5%;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
}
.text44 {
    width: 75%;
    position: absolute;
    top:17.1%;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
}
.text45 {
    width: 65%;
    position: absolute;
    top:29%;
    left:10%;
    right:0;
    text-align: center;
}
.text46 {
    width: 15%;
    position: absolute;
    top:38.7%;
    right:21%;
    text-align: center;
}
.text466 {
    width: 50%;
    position: absolute;
    top:47.7%;
    right:20%;
    text-align: center;
}
.text47 {
    width: 55%;
    position: absolute;
    top:56.2%;
    left:12%;
    right:0;
    text-align: center;
}
.text48 {
    width: 50%;
    position: absolute;
    top:70.9%;
    right:5%;
    text-align: center;
}
.text49 {
    width: 60%;
    position: absolute;
    top:78.3%;
    left:13%;
    right:0;
    text-align: center;
}
.text50 {
    width: 95%;
    position: absolute;
    top:86.8%;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
}
.image-19{
    width: 100%;
    position: absolute;
    top: 0.1%;
    right:0;
    left: 0;
    margin: auto;
}
.text51 {
    width: 60%;
    position: absolute;
    top:17.7%;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
}
.text52 {
    width: 76%;
    position: absolute;
    top:29.05%;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
}
.text53 {
    width: 90%;
    position: absolute;
    top:47.5%;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
}
.image-16{
    width: 92%;
    position: absolute;
    top: 61.8%;
    right:0;
    left: 0;
    margin: auto;
}
.image-17{
    width: 86%;
    position: absolute;
    top: 75.79%;
    right:0;
    left: 0;
    margin: auto;
}
.image-18{
    z-index: 1000;
    width: 88.88%;
    position: absolute;
    top: 85.4%;
    right:0;
    left: 0;
    margin: auto;
}
.text54 {
    width: 40%;
    position: absolute;
    top:10.8%;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
}
.text55 {
    width: 75%;
    position: absolute;
    top:25.6%;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
}
.text57 {
    width: 95%;
    position: absolute;
    top:44.5%;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
}
.text58 {
    width: 50%;
    position: absolute;
    top:52.3%;
    left:10%;
    right:0;
    text-align: center;
}
.text59{
    width: 68%;
    position: absolute;
    top:55.7%;
    left:23%;
    right:0;
    text-align: center;
}
.text60 {
    width: 50%;
    position: absolute;
    top:67.3%;
    right:10%;
    text-align: center;
}
.text61 {
    width: 70%;
    position: absolute;
    top:70.77%;
    left:13%;
    text-align: center;
}
.text62 {
    width: 65%;
    position: absolute;
    top:76%;
    left:28%;
    text-align: center;
}
.text63 {
    width: 95%;
    position: absolute;
    top:79.5%;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
}
.text64 {
    width: 57%;
    position: absolute;
    top:95.8%;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
}
.text65 {
    width: 85%;
    position: absolute;
    top:9%;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
}
.text66 {
    width: 90%;
    position: absolute;
    top:30%;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
}
small{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #06c654;
    height: 15px;
    padding: 10px;
}

